<!-- Summary -->
<div class="container-fluid summary" id="summary" style="background-image: url('{{summary.background}}')">
    <div class="row" ng-hide="isEditing">
        <div class="col-md-3 col-md-offset-3">
            <img src="{{summary.profile}}" alt="Profile" class="img-responsive">
        </div>
        <div class="col-md-5">
            <button ng-click="edit()" class="btn btn-primary pull-right">Edit</button>
            <h1>{{summary.name}}</h1>
            <hr>
            <h2>{{summary.title}}</h2>
            <h2>{{summary.location}}</h2>
            <h3>
                <span class="glyphicon glyphicon-phone-alt"></span>
                {{summary.phone}}
            </h3>
            <h3>
                <span class="glyphicon glyphicon-envelope"></span>
                {{summary.email}}
            </h3>
        </div>
    </div>

    <div class="row" ng-show="isEditing">
        <div class="col-md-6 col-md-offset-3 edit-summary">
            <button ng-click="save()" class="btn btn-success pull-right">Save</button>
            <div class="form-group" ng-repeat="(key, value) in summary">
                <input type="text" class="form-control" ng-model="summary[key]" placeholder="value">
            </div>
        </div>
    </div>
</div>